<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>   
                              
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://github.com/loyojay/aoyocai/blob/master/aoyocai_v1.ipa?raw=true</string>
              </dict> 
                             
              <dict>
        		    <key>kind</key>
        			<string>display-image</string>
        			<key>needs-shine</key>
        			<true/>
        			<key>url</key>
        			<string>https://raw.githubusercontent.com/loyojay/aoyocai/master/ios_icon.png?token=AsyGie7bzkDrtSFLpxhgeAXfrFjWaXKDks5crG0mwA%3D%3D</string>
        		</dict>

        		<dict>
        			<key>kind</key>
        			<string>full-size-image</string>
        			<key>needs-shine</key>
        			<true/>
        			<key>url</key>
        			<string>https://raw.githubusercontent.com/loyojay/aoyocai/master/ios_icon.png?token=AsyGie7bzkDrtSFLpxhgeAXfrFjWaXKDks5crG0mwA%3D%3D</string>
        		</dict>
           </array>
            
            <key>metadata</key>
            
            <dict>
                <key>bundle-identifier</key>
                <string>com.aoyocai.com</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>遨游彩票</string>
            </dict>
            
        </dict>
    </array>
</dict>
</plist>
